# mxsrclib ignore
/tmpPrst.tgz
/.directory
.idea
cmake*
mxsrclib_utf-8

# irs global ignore
*.*~
*.SchDocPreview
*.bak
*.csv
*.dcu
*.dep
*.ewt
*.il?
*.map
*.obj
*.pbd
*.pbi
*.pch
*.r90
*.s90
*.tds
*.tmp
*.~*
lsprst7.*
sysprs7.*
tmpprst.*
~$*.*
~W*.tmp
/__history
/Desktop.ini
*.orig
*.ldb
