# mxsrclib ignore
/tmpPrst.tgz
/.directory
.idea
cmake*
converted_headers/*.h
converted_headers/arch/arm/*.h
converted_headers/arch/arm_st_hal/*.h
converted_headers/arch/avr/*.h
converted_headers/arch/cbuilder/*.h
converted_headers/arch/dos32/*.h
converted_headers/arch/linux/*.h
converted_headers/arch/qt/*.h
converted_headers/arch/visualcpp/*.h

# irs global ignore
*.*~
*.SchDocPreview
*.bak
*.csv
*.dcu
*.dep
*.ewt
*.il?
*.map
*.obj
*.pbd
*.pbi
*.pch
*.r90
*.s90
*.tds
*.tmp
*.~*
irsconfig.h
lsprst7.*
sysprs7.*
tmpprst.*
~$*.*
~W*.tmp
/__history
/Desktop.ini
*.orig
*.ldb
